<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Dashboard | ThanaDev</title>
    <link
      rel="stylesheet"
      href="https://fonts.googleapis.com/css2?family=Material+Symbols+Sharp:opsz,wght,FILL,GRAD@48,400,0,0"
    />
    <link rel="stylesheet" href="/css/sidebar.css" />
    <link rel="stylesheet" href="/css/porositereja.css" />
  </head>

  <body>
    <div class="container">
      <aside>
        <div class="top">
          <div class="logo">
            <h2>Thana<span class="danger">Dev</span></h2>
          </div>
          <div class="close" id="close-btn">
            <span class="material-symbols-sharp">close </span>
          </div>
        </div>
        <div class="sidebar">
          <a href="/">
            <span class="material-symbols-sharp">dashboard_customize</span>
            <h3>Dashboard</h3>
          </a>
          <a href="/users">
            <span class="material-symbols-sharp">group</span>
            <h3>Users</h3>
          </a>
          <a href="/orders">
            <span class="material-symbols-sharp">receipt_long</span>
            <h3>Orders</h3>
          </a>
          <a href="/messages">
            <span class="material-symbols-sharp">mail_outline</span>
            <h3>Messages</h3>
          </a>
          <a href="/login">
            <span class="material-symbols-sharp">logout</span>
            <h3>Logout</h3>
          </a>
        </div>
      </aside>

      <!-- end of aside --->

      <main>
        <div class="containers">
          <header>Edit Order</header>

          <form action="/order/update-orders" method="put" id="orderForm">
            <div class="form first">
              <div class="details personal">
                <div class="fields">
                  <div class="input-field">
                    <label>Order Name</label>
                    <input
                      value="<%= order.name %>"
                      type="text"
                      placeholder="Order Name"
                      name="name"
                      id="name"
                    />
                  </div>

                  <div class="input-field">
                    <label>Description</label>
                    <input
                      value="<%= order.description %>"
                      type="text"
                      placeholder="Description"
                      name="description"
                      id="description"
                    />
                  </div>

                  <div class="input-field">
                    <label>Price</label>
                    <input
                      value="<%= order.price %>"
                      type="number"
                      placeholder="Price"
                      name="price"
                      id="price"
                    />
                  </div>

                  <div class="input-field">
                    <label>Reciever Name</label>
                    <input
                      value="<%= order.owner %>"
                      type="text"
                      placeholder="Reciever Name"
                      name="owner"
                      id="owner"
                    />
                  </div>

                  <div class="input-field">
                    <label>Address</label>
                    <input
                      value="<%= order.address %>"
                      type="text"
                      name="address"
                      placeholder="Address"
                      id="address"
                    />
                  </div>

                  <div class="input-field">
                    <label>Reciever Phone Number</label>
                    <input
                      value="<%= order.phone %>"
                      type="tel"
                      name="phone"
                      placeholder="Reciever Phone Number"
                      id="phone"
                    />
                  </div>

                  <div class="input-field">
                    <label>Payment</label>
                    <input
                      value="<%= order.paid %>"
                      type="tel"
                      name="payment"
                      placeholder="Payment"
                      id="paid"
                    />
                  </div>

                  <div class="input-field">
                    <label>Status</label>
                    <input
                      value="<%= order.status %>"
                      type="tel"
                      name="status"
                      placeholder="status"
                      id="status"
                    />
                  </div>

                  <div class="input-field">
                    <label>Offers</label>
                    <select required name="offer" id="offer">
                      <option>Offer 1</option>
                      <option>Offer 2</option>
                      <option>Offer 3</option>
                    </select>
                  </div>
                </div>
              </div>

              <div class="details ID">
                <button class="nextBtn" id="saveButton">
                  <span class="btnText">Send</span>
                  <i class="uil uil-navigator"></i>
                </button>
              </div>
            </div>
          </form>
        </div>
      </main>

      <!--end of main-->
      <div class="right">
        <div class="top">
          <a href="/auth/logout"
            ><span class="material-symbols-sharp" id="logout">logout</span></a
          >
          <button id="menu-btn">
            <span class="material-symbols-sharp">menu</span>
          </button>
          <div class="theme-toggler">
            <span class="material-symbols-sharp active">light_mode</span>
            <span class="material-symbols-sharp">dark_mode</span>
          </div>
          <div class="profile">
            <div class="info">
              <p>Hey, <b><%= user.name %></b>!</p>
              <small class="text-muted"><%= user.role %></small>
            </div>
            <div class="profile-photo">
              <img src="/img/avatar-1.jpeg" alt="" />
            </div>
          </div>
        </div>
      </div>
    </div>

    <script src="https://cdn.jsdelivr.net/npm/sweetalert2@10"></script>
    <script src="/js/order-list.js"></script>
    <script src="/js/main.js"></script>
    <script>
      var goToSecondPage = document.getElementById('logout');
      const orderForm = document.getElementById('orderForm');
      goToSecondPage.addEventListener('click', function () {
        document.location.href = 'login.html';
      });
      document.getElementById('saveButton').addEventListener('click', () => {
        window.location.href = '/orders';
      });

      // Preventing Page Reload
      orderForm.addEventListener('submit', async (e) => {
        e.preventDefault();
        const name = document.getElementById('name').value;
        const description = document.getElementById('description').value;
        const price = document.getElementById('price').value;
        const owner = document.getElementById('owner').value;
        const address = document.getElementById('address').value;
        const phone = document.getElementById('phone').value;
        const offer = document.getElementById('offer').value;
        const paid = document.getElementById('paid').value;
        const status = document.getElementById('status').value;

        const res = await fetch('/order/update-orders', {
          method: 'PUT',
          body: JSON.stringify({
            id: location.pathname.split('/')[2],
            name,
            description,
            price,
            owner,
            address,
            phone,
            offer,
            paid,
            status,
          }),
          headers: {
            'Content-Type': 'application/json',
          },
        });
        const data = await res.json();

        if (data.status === 'success') {
          location.assign('/orders');
        } else {
          Swal.fire({
            icon: 'error',
            title: 'Oops...',
            text: 'Error',
          });
        }
      });
    </script>
  </body>
</html>
